{% extends 'base.html' %}

{% block content %}
<main class="container py-5"> 
<section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Maiores labore esse, nihil sit officia veniam 
        perferendis nesciunt quaerat numquam eaque expedita. Tempore dicta deserunt esse vero voluptatum. Ipsa 
        doloribus eos dolor fugiat odio dicta adipisci earum dignissimos repellat sint, alias voluptates non, consequuntur 
        accusamus delectus quia. Eos necessitatibus earum quia?</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Sign In
            </a>
            <a class="btn btn-primary" href="/signup/">
                Sign Up
            </a>
        </div>
</section>
</main>
{% endblock %}